@import './variables';
@import './mixins';

header {
  @include displayFlex(flex, space-between, center);
  max-width: 90vw;
  margin: 2em auto;
}

form {
  @include displayFlex(flex, start, center);
  width: 20vw;
  border: 1px solid $tertiary-color;
  border-radius: 30px;
  padding: 0.4em 0;

  input {
    background: $primary-color;
    border: none;
    width: 80%;
    color: $tertiary-color;

    &:focus {
      outline: none;
    }
  }

  img {
    padding: 0 1em;
  }
}