#welcome {
  &__wrapper {
    max-width: 90vw;
    margin: 0 auto;
  }

  &__title {
    font-family: 'AvenirNextBold';
    margin-bottom: 0.3em;
    font-size: clamp(0.2em, 2vw, 3.5vw);
    color: $tertiary-color;
  }

  &__content {
    font-size: clamp(0.4em, 1.3vw, 2em);
    margin-bottom: 2em;
  }
}

.btn-show-more {
  @include displayFlex(flex, center, center)
}

.show-more {
  background-color: $secondary-color;
  font-size: 1.3em;
  color: $tertiary-color;
  font-family: 'AvenirNextBold';
  padding: 0.7em 1em 0.7em 1em;
  border-radius: 0.1em;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2em;
}