#welcome {
  &__wrapper {
    margin: 0 2em;
  }

  &__title {
    font-family: 'AvenirNextBold';
    margin-bottom: 0.3em;
    font-size: clamp(0.2em, 2vw, 3.5vw);
  }

  &__content {
    font-size: clamp(0.4em, 1.3vw, 2em);
  }
}