@import './header';
@import './variables';
@import './home';
@import './pageList';
@import './mixins';
@import './pageDetails';

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'AvenirNextIt';
  src: url('../assets/fonts/AvenirNextLTPro-It.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-style: regular;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'AvenirNextregular';
}

html {
  background: $primary-color;
  color: $tertiary-color;
}

.page-list {
  max-width: 90vw;
  margin: 0 auto;
}

#main-title,
#main-title:visited {
  @include hover-effect;
}

.card {
  width: 480px;
  margin: 1em;
  margin-bottom: 4em;


  img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
  }

  h3 {
    font-family: 'AvenirNextBold';
    font-size: 2.4em;
  }

  a {
    text-decoration: none;
    color: $tertiary-color
  }
}

.card__container {
  position: relative;
}

.card__container:hover img {
  visibility: hidden;
}

.card__container:hover .text__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text__container {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -2;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  @include displayFlex(flex, start, start);
  flex-direction: column;
  p {
    margin: 0.5em;
  }
}